/* add your CSS here */

body {
	margin: 0 auto;
    width 350px;
}

.menu {
    margin: 20px;
	border: 3px solid #ccc;
	padding: 5px 20px 20px 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.paragraph {
	margin-top: 15px;
	border: 3px solid #ccc;
	padding: 5px 20px 5px 20px;
}

.heading {
    font-weight: 800;
    font-size: 30px;
}

.list {
	list-style-type: none;
}

.description {
	font-style: italic;
}

#label {
	font-style: normal;
	font-weight: 800;
}

.animal-img {
	width: 300px;
	height: 300px;
}
